<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="video-background">
    <video autoplay muted loop playsinline>
      <source src="assets/img/registrarse.mp4" type="video/mp4">
      Tu navegador no soporta videos.
    </video>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Bienvenido/a</h1>
        </ion-card-title>
        <ion-card-subtitle>Formulario de Registro</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="nombreUsuario" label="Nombre de Usuario" labelPlacement="floating" type="text" placeholder="Ingrese su nombre de usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="correo" label="Correo Electrónico" labelPlacement="floating" type="email" placeholder="Ingrese su correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="contrasena" label="Contraseña" labelPlacement="floating" type="password" placeholder="Ingrese su contraseña"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de Nacimiento</ion-label>
            <ion-datetime [(ngModel)]="fechaNacimiento" presentation="date"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Carrera</ion-label>
            <ion-select [(ngModel)]="nivelEducacional" interface="action-sheet" placeholder="Seleccione Carrera">
              <ion-select-option value="Ecoturismo">Ecoturismo</ion-select-option>
              <ion-select-option value="Ingenieria en Informatica">Ingenieria en Informatica</ion-select-option>
              <ion-select-option value="Turismo y Hoteleria">Turismo y Hoteleria</ion-select-option>
              <ion-select-option value="Técnico en Informatica">Técnico en Informatica</ion-select-option>
              <ion-select-option value="Ingenieria en Administracion">Ingenieria en Administracion</ion-select-option>
              <ion-select-option value="Ingenieria en Redes y Telecomunicaciones">Ingenieria en Redes y Telecomunicaciones</ion-select-option>
              <ion-select-option value="Gastronomia Internacional">Gastronomia Internacional</ion-select-option>
              <ion-select-option value="Ingenieria en Infrastructuras Tecnologicas">Ingenieria en Infrastructuras Tecnologicas</ion-select-option>
              <ion-select-option value="Auditoria">Auditoria</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <br>
        <ion-buttons slot="end">
          <ion-button (click)="registrarUsuario()">
            Registrarse
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        ¿Ya tienes cuenta? Iniciar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
