<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Bienvenido/a</h1>
        </ion-card-title>
        <ion-card-subtitle>Formulario de Registro</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Nombre de Usuario" type="text" placeholder="Ingrese su nombre de usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Correo Electrónico" type="email" placeholder="Ingrese su correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" type="password" placeholder="Ingrese su contraseña"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="text-align: start;">Fecha de Nacimiento</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-item>
            <ion-label style="text-align: start;">Nivel Educacional</ion-label>
            <ion-select justify="space-between" value="optEduc" interface="action-sheet" placeholder="Seleccione nivel">
              <ion-select-option value="Ninguno">Ninguno</ion-select-option>
              <ion-select-option value="Tecnico">Técnico</ion-select-option>
              <ion-select-option value="Universitario">Universitario</ion-select-option>
              <ion-select-option value="Magister">Magíster</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <br>
        <ion-button expand="block">
          Registrar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        ¿Ya tienes cuenta? Iniciar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
