<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Página Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="video-background">
    <video autoplay muted loop id="background-video">
      <source src="assets/img/bienvenido.mp4" type="video/mp4" />
      Tu navegador no soporta videos HTML5.
    </video>
  </div>

  <ion-card class="transparent-card">
    <ion-card-header>
      <ion-card-title>
        <h1>Bienvenido/a {{ username }}</h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let asignatura of asignaturas">
          <ion-thumbnail slot="start">
            <img [src]="asignatura.imagen" alt="{{ asignatura.nombre }}" />
          </ion-thumbnail>
          <ion-label>{{ asignatura.nombre }}</ion-label>
          <ion-button slot="end" fill="outline" (click)="abrirEscanerQR()">Leer QR</ion-button>
        </ion-item>
      </ion-list>

      <!-- Mostrar el resultado del escaneo del código QR -->
      <div *ngIf="scannedCode">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Resultado del Código QR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ scannedCode }}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Modal para el escáner QR -->
  <ion-modal [isOpen]="modalVisible" (didDismiss)="cerrarEscanerQR()">
    <ng-template>
      <div>
        <ion-header>
          <ion-toolbar>
            <ion-title>Escanear Código QR</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cerrarEscanerQR()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <zxing-scanner
            (scanSuccess)="onCodeScanned($event)">
          </zxing-scanner>
        </ion-content>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
