.video-background {
  position: fixed; /* Asegura que el video esté fijo en el fondo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transparent-card {
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  color: #000;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20%;
  border: 5px solid; /* Define el borde inicial */
  animation: border-color-change 2s infinite alternate; /* Animación para cambiar el color del borde */
}

@keyframes border-color-change {
  from {
    border-color: blue; /* Color inicial del borde */
  }
  to {
    border-color: var(--background); /* Color alternativo */
  }
}

h1 {
  font-size: 2rem;
  color: #333;
}
